.nav-links-md{
  display: block;
}
@media (min-width: 934px){
  .nav-links-md{
    display: none !important;
    width: 100%;
  }
  .navbar{
    width: calc(100% - 16.6666667%) !important;
  }
}

.navbar{
  background-color: #9DBDD5 !important;
  background-image: linear-gradient(#9DBDD5, #9DBDD5 60%, #9DBDD5);
  position: fixed;
    width: 100% ;
    z-index: 10;
    min-height: 70px;
}

.greetings{
  font-size: 85%;
  font-family: Arial, Helvetica, sans-serif;
  color:#fff;
}

span.dropdown-item{
  cursor: pointer !important;
}
