<div class="container-fluid">
  <div class="row">
      <div class="side-menu-wrapper col-md-2 col-lg-2">
        <app-sidebar></app-sidebar>
      </div>
      <div  class="app-wrapper col-md-10 col-lg-10 col-sm-12" style="padding-left: 0; padding-right: 0;">
        <div class="container-fluid" style="padding-left: 0; padding-right: 0;">
          <app-navbar></app-navbar>
        </div>
        <div class="container">
          <ng-content></ng-content>
        </div>
      </div>
  </div>


</div>

