.charts-container{
  min-height: 12rem;
}

.summary-container{
  min-height: 5rem;
}

.summary-counter{
  font-size:1.2rem;
}

.sm-count{
  font-family: Montserrat, sans-serif;
  color: #000;
  font-weight: bold;
  font-size: 1.2rem;
}

.dropdown-item{
  cursor: pointer;
}
